<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Page</title>
</head>
<body>
  <style>
    #myTable{
      margin: 10px;
      width:470px;
      border: 1px solid black;
    }
  </style>
  <h2>List of surveys </h2>  
  <table id="myTable" >
    <tr>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Email Addr</td>
      <td>Contact #</td>
    </tr>
  </table>
</body>
</html>