<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users</title>
    <!-- <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script> -->
    <!-- <script src="users.js"></script> -->
  </head>
  <body>
    <style>
    #wrapper{
      height:250px;
      width:400px;
      display: inline-block;
    }
    
    </style>
 

    <div id="wrapper">
      <h1>Add Survey</h1>
      <form>
        First Name : <input type='text' name='first_name' placeholder="First Name"><br></br>
        Last Name : <input type='text' name='last_name' placeholder="Last Name"><br></br>
        Email Address : <input type='text' name='email' placeholder="Email Address"><br></br>
        Contact Number : <input type='text' name='contact' placeholder="Phone #"><br></br>
        <input id="button" type='submit' value='Add Survey'>
      </form>

      <br>
    </div>
  </body>
</html>
