<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display Time</title>
</head>
<body>
    <style>
    *{
        margin: 0px auto;
    }
    h2{
            border : 2px solid black;
            height : 90px;
            width : 400px;
            line-height: 90px;
            text-align: center;
    }
    </style>
    <br>
    <div><h2>The current time and date</h2></div>
    <br>
    <div><h2>{{time}}</h2></div>
   
</body>
</html>