<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
</head>
<body>
    <style>
    *{
        margin: 0px auto;
    }

    h2{
            border : 2px solid black;
            height : 90px;
            width : 400px;
            line-height: 90px;
            text-align: center;
    }
    h1,input{
        text-align: center;
        display: block;
    }
    </style>
    ]
    <div><h1>Random Word attempt #{{request.session.count}}</h1></div>
    <br>
    <div><h2>{{word}}</h2></div>
    <br>
    
    <form action="/randomword/" method='POST'>
        {% csrf_token %}
        <input type='submit' value='Generate'></form>
</body>
</html>